# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\allPythonProject\intelligent-service-agent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
